In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mercedes-benz-greener-manufacturing/train.csv.zip
/kaggle/input/mercedes-benz-greener-manufacturing/sample_submission.csv.zip
/kaggle/input/mercedes-benz-greener-manufacturing/test.csv.zip

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_data = pd.read_csv('/kaggle/input/mercedes-benz-greener-manufacturing/train.csv.zip')
train_data['type'] = 'train'
train_data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,type
0,0,130.81,k,v,at,a,d,u,j,o,...,0,1,0,0,0,0,0,0,0,train
1,6,88.53,k,t,av,e,d,y,l,o,...,0,0,0,0,0,0,0,0,0,train
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,1,0,0,0,train
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,train
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,train

In [4]:
test_data = pd.read_csv('/kaggle/input/mercedes-benz-greener-manufacturing/test.csv.zip')
test_data['type'] = 'test'
test_data.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,type
0,1,az,v,n,f,d,t,a,w,0,...,0,0,1,0,0,0,0,0,0,test
1,2,t,b,ai,a,d,b,g,y,0,...,0,1,0,0,0,0,0,0,0,test
2,3,az,v,as,f,d,a,j,j,0,...,0,0,1,0,0,0,0,0,0,test
3,4,az,l,n,f,d,z,l,n,0,...,0,0,1,0,0,0,0,0,0,test
4,5,w,s,as,c,d,y,i,m,0,...,0,0,0,0,0,0,0,0,0,test

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 379 entries, ID to type
dtypes: float64(1), int64(369), object(9)
memory usage: 12.2+ MB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to type
dtypes: int64(369), object(9)
memory usage: 12.1+ MB

In [7]:
combine = pd.concat([train_data,test_data],axis=0)
combine.tail()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,type
4204,8410,NaN,aj,h,as,f,d,aa,j,e,...,0,0,0,0,0,0,0,0,0,test
4205,8411,NaN,t,aa,ai,d,d,aa,j,y,...,1,0,0,0,0,0,0,0,0,test
4206,8413,NaN,y,v,as,f,d,aa,d,w,...,0,0,0,0,0,0,0,0,0,test
4207,8414,NaN,ak,v,as,a,d,aa,c,q,...,0,1,0,0,0,0,0,0,0,test
4208,8416,NaN,t,aa,ai,c,d,aa,g,r,...,0,0,0,0,0,0,0,0,0,test

In [8]:
combine_cat_cols = ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [9]:
# Filtering the Categorical columns in the data set
combine_cat = combine[combine_cat_cols]
combine_cat

      X0  X1  X2 X3 X4  X5 X6 X8
0      k   v  at  a  d   u  j  o
1      k   t  av  e  d   y  l  o
2     az   w   n  c  d   x  j  x
3     az   t   n  f  d   x  l  e
4     az   v   n  f  d   h  d  n
...   ..  ..  .. .. ..  .. .. ..
4204  aj   h  as  f  d  aa  j  e
4205   t  aa  ai  d  d  aa  j  y
4206   y   v  as  f  d  aa  d  w
4207  ak   v  as  a  d  aa  c  q
4208   t  aa  ai  c  d  aa  g  r

[8418 rows x 8 columns]

*Encoding categorical columns*

In [10]:
#pd.get_dummies(train_cat,drop_first=True).shape
# One hot encoding will create 181 new columns which will significantly increse 
#the dimensionality of the dataset. So we will try to come up with something else

In [11]:
top10_X2 = combine_cat['X2'].value_counts().sort_values(ascending=False).head(10)
top10_X2
#Let's take top 10 values from each columns and encode them and ignore the others

as    3317
ae     974
ai     877
m      715
ak     525
r      308
n      250
s      194
f      172
e      165
Name: X2, dtype: int64

In [12]:
def binary_convertor(data,n=10):
    for col in data.columns:
        topn_col = data[col].value_counts().sort_values(ascending=False).head(n).index
        for label in topn_col:
            data[col+'_'+label] = np.where(data[col]==label,1,0)
            
    return data

In [13]:
combine_cat = binary_convertor(combine_cat)
combine_cat.drop(combine_cat_cols,axis=1,inplace=True)
combine_cat.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,X0_ak,X0_z,X0_y,X0_ay,X0_x,X0_t,X0_o,X0_f,X0_w,X0_n,...,X8_j,X8_e,X8_s,X8_f,X8_n,X8_i,X8_r,X8_a,X8_w,X8_v
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [14]:
#Let's drop categorical columns from the datafame and concat encoded columns
combine.drop(combine_cat_cols,axis=1,inplace=True)
combine.head()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,type
0,0,130.81,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,train
1,6,88.53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
2,7,76.26,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,train
3,9,80.62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
4,13,78.02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train

In [15]:
combine = pd.concat([combine,combine_cat],axis=1)
#y = X['y']
#X = X.drop(['ID','y'],axis=1)
train = combine[combine['type']=='train']
test = combine[combine['type']=='test']

In [16]:
combine.shape

(8418, 442)

In [17]:
print(train.shape)
print(test.shape)

(4209, 442)
(4209, 442)

In [18]:
X_test = test.drop(['ID','y','type'],axis=1)
X_test

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X8_j,X8_e,X8_s,X8_f,X8_n,X8_i,X8_r,X8_a,X8_w,X8_v
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4206,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4207,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [19]:
X_train = train.drop(['ID','y','type'],axis=1)
X_train

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X8_j,X8_e,X8_s,X8_f,X8_n,X8_i,X8_r,X8_a,X8_w,X8_v
0,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4206,0,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4207,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
y_train = train.loc[:,'y']
y_train

0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

# Let's start Machine Learning

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
degree=2
polyreg=make_pipeline(PolynomialFeatures(degree),LinearRegression())
polyreg.fit(X_train,y_train)

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

y_pred_2 = polyreg.predict(X_test)

y_pred = model.predict(X_test)

y_pred

from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(y_test,y_pred)))
print(np.sqrt(mean_squared_error(y_test,y_pred_2)))

In [21]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(max_depth=5, n_estimators=25, n_jobs=-1)
rfr.fit(X_train,y_train)


y_pred = rfr.predict(X_test)

y_pred
"""
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))
"""

'\nfrom sklearn.metrics import r2_score\nprint(r2_score(y_test,y_pred))\n'

from sklearn.model_selection import GridSearchCV
rfr = RandomForestRegressor(n_jobs=-1)
params = [{"n_estimators":[25,50,100,200],"max_depth":[3,5,7,10,None]}]

grid = GridSearchCV(rfr, params, cv = 10)

grid.fit(X_train, y_train)

grid.best_estimator_

In [22]:
output = pd.DataFrame({'ID': test['ID'], 'y': y_pred})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!